extends ../layouts/default

block content
    .col-sm-8
        article
            p: a(href='/') &larr; regressar a Home
            hr
            if !data.post
                h2 Invalid Post.
            else
                header.post-header
                    h1= data.post.title
                    if data.post.publishedDate
                        span.date
                            | em #{data.post._.publishedDate.format('dddd MMM DD, YYYY')}
                .post-entry
                    if data.post.image.exists
                        .image-wrap: img(src=data.post._.image.fit(770,514)).img-responsive
                    .post-text!= data.post.content.full


                .sharing-area
                    h3 Partilha este Post
                    .social-share-buttons
                        ul
                            li
                                a(href="https://www.facebook.com")
                                    i.fa.fa-facebook
                                        label.hidden-xs
                                            Partilha no facebook
                            li
                            li
                    .entry-tags
